body {
	background: url(../images/bg7.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Abel', sans-serif;
}

/* first */
h1 {
	color: purple;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

/* second */
h2 {
	color: #67DE5A;
	font-size: 18px;
	margin-top: 0;
}

/* third */
.bio {
	margin-top: 50px;
	color: white;
	font-size: 16px;
	background-color: rgba(51,51,51,0.6);
}

/* fourth */
#me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: brown;
	margin-top: 40px;
}

.cc {
	margin-top:300px;
	color: black;
	font-size: 12px;
}

.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}